.topBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
}
.newBtn {
    width: 65px;
    height: 30px;
    left: 16px;
    top: 67px;
    background: #FBC91B;
    border-radius: 12px;
    margin: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
}
.pastBtn {
    width: 65px;
    height: 30px;
    left: 16px;
    top: 67px;
    background: #F2F2F2;
    border-radius: 12px;
    margin: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
}
.loadMoreBtn{
    width: 328px;
    height: 48px;
    left: 31px;
    top: 356px;
    background: #FFC700;
    border-radius: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}
.footer {
    width: 100%;
    height: 100px;
    background: #FBC91B;
    display: flex;
    justify-content: center;
    align-items: center;
}